@import url('https://fonts.google.com/share?selection.family=Montserrat:ital,wght@0,100..900;1,100..900');

:root {
    --mantine-color-dark0: rgb(10, 10, 10);
    --bg: #0e0e0f;         /* fondo página */
    --card: #0f1115;       /* fondo item */
    --text: #e7e7ea;       /* texto */
    --muted:#9aa1aa;       /* texto secundario */
    --border: #1f3742;     /* borde (toque azulado) */
    --border-hover: #2b5566;
    --accent: #67d4ff;     /* resalte sutil */
    --radius: 10px;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    min-width: 100%;
    padding: 0px;
    background-color: rgb(10, 10, 10);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}


#Hero {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5% 17% 0px;
    background: linear-gradient(to top, rgba(24, 129, 191, 0.2), transparent 95%);
}

.Hero-Title {
    transition: 0.2s;
    text-wrap: pretty;
    color: rgb(223, 223, 224);
    font-weight: 600;
    font-size: 2.9rem;
    text-align: center;
    margin-bottom: 2rem;
}

.paragraph-HeroTitle{
    text-align: center;
    color: rgb(223, 223, 224);
    font-size: 1.6rem;
    margin-top: 5vh;
}

.btn-HeroTitle {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
    font-weight: 400;
    height: 3rem;
    font-size: 1.1rem;
    border-radius: 1px;
    padding: 0.5rem;
    color: white;
    border: transparent;
    border-bottom: 3px solid rgb(24, 129, 191);
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    background-color:transparent;
}


.parent{
    display:grid;
    grid-template-columns: repeat(5, minmax(0,1fr));
    grid-template-rows: repeat(5, 1fr);
    gap:8px;

    /* controla el tamaño del contenedor */
    width:100%;
    max-width:1200px;   /* ajusta a gusto */
    height:80vh;        /* DA altura → los 1fr funcionan */
    margin:0 auto;
    box-sizing:border-box;
    padding:8px;        /* opcional */
}

.parent img{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
}

.div2{ grid-column-start:1; grid-row-start:2; }
.div6{
    grid-column-start:2;
    grid-row-start:1;
    grid-row: span 2;   /* ya no necesitas “/ span 2” dos veces */
}

.parent{
    display:grid;
    grid-template-columns: repeat(2, minmax(0,1fr));
    /* quita grid-template-rows y usa auto-rows */
    grid-auto-rows: 160px;  /* alto base por fila */
    gap:8px;
    
    width:70%;
    max-width:1200px;
    margin:0 auto;
    box-sizing:border-box;
    padding:8px;
}

.parent img{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
}

.div2{ grid-column-start:1; grid-row-start:2; }
.div3{
    grid-column-start:2;
    grid-row-start:1;
    grid-row: span 2;   /* ocupa 2 “altos base” → 320px */
}
/*

#Mosaic {
    width: 100%;
    height: 70vh;
    background: linear-gradient(to bottom, rgba(24, 129, 191, 0.2), transparent 95%);
    
}
.order {
    width: 58.5%;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    }
    
    .col-left {
        display: flex;
        flex-direction: column;
        gap: 16px;
        flex: 1; 
    height: 60vh;
}

.col-right {
    flex: 2;
    display: flex;
    align-items: stretch;
}

.tile {
    flex: 1;
    overflow: hidden;
}

.tile img, .col-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

*/

#Paragraph_Of_Date {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 7% 20%;
    background-color: rgb(10, 10, 10);
}

.Title-Date {
    text-wrap: pretty;
    color: rgb(233, 223, 224);
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 0.3rem;
}

.Paragraph-Date {
    text-wrap: pretty;
    color: rgb(223, 223, 224);
    font-weight: 300;
    font-size: 1.8rem;
    text-align: center;  
}

.Line {
    padding: 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.start, .end {
    background-color: rgb(24, 129, 191);
    border-radius: 1000rem;
    width: 5px;
    height: 5px;
}

.middle {
    background-color: rgb(24, 129, 191);
    min-height: 40px;
    max-height: 10vh;
    width: 2px;
    height: 90%;
}

#Image_Text_Pair {
    width: 100%;
    height: 100%;
    background-color: rgb(10, 10, 10);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    font-size: 22px;
    padding: 0% 20% 0px;
}

.Media_Text_Modified {
    text-align: left;
    width: 100%;
    color: rgb(223, 223, 224);
    font-weight: bold;
    font-size: 1.6rem;
}
.Media_Text {
    text-align: left;
    width: 100%;
    color: rgb(223, 223, 224);
    font-weight: 300;
    margin-bottom: 2rem;
    font-size: 1.6rem;
}

.btn_Middle {
    text-align: center;
    margin-top: 4rem;
    font-weight: 400;
    height: 3rem;
    font-size: 1.1rem;
    border-radius: 1px;
    padding: 0.5rem;
    color: white;
    border: transparent;
    border-bottom: 3px solid rgb(24, 129, 191);
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    background-color:transparent;
}


#Logo_Carrousel {
    width: 100%;
    height: 200vh;
    padding: 20px;
    margin-top: -38%;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to top, rgba(24, 129, 191, 0.1) 1%, rgba(24, 129, 191, 0.3), transparent 65%);}

.Logo_Carrousel_Container {
    object-fit: contain;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#Background_With_Position{
    min-width: 100vw;
    height: 50vh;
    padding: 0px;
}


#Picture {
    z-index: -1;
    min-height: 50dvh;
    position: absolute;
}

.Paragraph_Picture {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
}

.lema {
    transition: 0.2s;
    text-wrap: pretty;
    color: white;
    font-size: 3.5rem;
    font-weight: 200;
    font-style: italic;
}

#Containerer-Text{
    min-width: 100%;
    height: 50vh;
    padding: 0px;
}

.Texto1{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3rem;
    background-color: rgb(10, 10, 10);
}

.Titulo1{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
}

.CorcheteLeft {
    display: flex;
    width: 30%;
    padding-top: 3vh;
}

.Grosor {
    height: 50%;
    width: 2px;
    background-color: rgb(24, 129, 191);
}

.Direccion {
    height: 2px;
    width: 100%;
    background-color: rgb(24, 129, 191);
}

.Contenido {
    transition: 0.2s;
    text-wrap: pretty;
    color: rgb(223, 223, 224);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 30%;
    font-size: 2.5rem;
    font-weight: 200;
}

.CorcheteRight{
    display: flex;
    width: 30%;
    padding-top: 3vh;
}

.Grosor2 {
    height: 2px;
    width: 100%;
    background-color: rgb(24, 129, 191);
}

.Direccion2 {
    height: 50%;
    width: 2px;
    background-color: rgb(24, 129, 191);
}

.Restante {
    width: 70%;
    height: 50%;
    display: flex;
    justify-content: space-between;
}

.ParrafoIzq {
    transition: 0.2s;
    text-wrap: pretty;
    color: rgb(223, 223, 224);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 30%;
    background: radial-gradient(circle, rgba(24, 129, 191, 0.1), transparent 50%);
    font-size: 2.5rem;
    font-weight: 200;
}

.Restante2{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: radial-gradient(circle, rgba(24, 129, 191, 0.1), transparent 50%);
}

.PrimerParrafoDer{
    transition: 0.2s;
    text-wrap: pretty;
    color: rgb(223, 223, 224);
    text-align: center;
    width: 30%;
    display: flex;    ;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: 200;
}

.SegundoParrafoDer{
transition: 0.2s;
text-wrap: pretty;
color: rgb(223, 223, 224);
text-align: center;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
font-size: 2.5rem;
font-weight: 200;
}

#Image_Text_Layout {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 40% 20%;
    background-color: rgb(0, 0, 0,.25);
}

#ColumnAB {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.ColumnA {
    width: 50%;
    display: flex;
    justify-content: center;
}

.ColumnB {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Paragraph-Column1{
    transition: 0.2s;
    text-wrap: pretty;
    color: rgb(223, 223, 224);
    font-style: italic;
    font-weight: bold;
    font-size: 1.5rem
}

.Paragraph-Column2{
    transition: 0.2s;
    text-wrap: pretty;
    color: rgb(223, 223, 224);
    font-style: italic;
    font-size: 1.5rem
}

#Space_Of_Button {
    width: 100%;
    height: 100%;
    background-color: rgb(10, 10, 10);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 7% 17% 0px;
}

.btn_End {
    text-align: center;
    margin-top: 4rem;
    font-weight: 400;
    height: 3rem;
    font-size: 1.1rem;
    border-radius: 1px;
    padding: 0.5rem;
    color: white;
    border: transparent;
    border-bottom: 3px solid rgb(24, 129, 191);
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    background-color:transparent;
}

#Questions {
    max-width: 1100px;
    margin: 48px auto;
    padding: 0 20px;
}

.TitleQuestions {
    color: var(--text);
}

/*Acordion*/
.accordion {
    display: grid;
    gap: 18px;
}

.accordion details {
    background: var(--card);
    border: 1px solid var(--card);
    border-radius: var(--radius);
    overflow: clip;
    transition: border-color .2s ease, box-shadow .2s ease;
}

.accordion details:hover {
    border-color: var(--border-hover);
    box-shadow: 0 0 0 1px color-mix(in in srgb, var(--accent) 30%, transparent);
}

/*Cabecera*/
.accordion summary{
    list-style: none;
    cursor: pointer;
    padding: 18px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    font-weight: 600;
    outline: none;
}

/*Indicador Chevron*/

.accordion summary::after {
    content: "";
    width: 8px;
    height: 8px;
    border-right: 2px solid #9aa1aa;
    border-bottom: 2px solid #9aa1aa;
    transform: rotate(45deg);
    transition: transform 0.2s ease-in-out;
}
  
.accordion details[open] summary::after {
    transform: rotate(225deg); /* Cambia de Direccion cuando se abre */
    border-color: #67d4ff; /* Cambia de color cuando se abre*/
}

  /* Contenido */
  .accordion .content{
    padding: 0 20px 18px 20px;
    color: var(--muted);
}

  /* Animación de apertura (suave) */
.accordion details > div{
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows .25s ease;
}
.accordion details[open] > div{
    grid-template-rows: 1fr;
}
.accordion .content > *{
    overflow: hidden;
}

.accordion summary:focus-visible{
    box-shadow: 0 0 0 2px var(--accent) inset;
    border-radius: var(--radius);
}


/* RESPONSIVE */

@media (max-width: 768px) {
    .mosaic {
      flex-direction: column;  /* Apila las columnas en pantallas pequeñas */
      height: auto;            /* Ajusta la altura cuando las columnas están apiladas */
    }
  
    .col-left, .col-right {
      flex: none;              /* Sin flexibilidad cuando las columnas están apiladas */
      width: 100%;             /* Hacen que las columnas ocupen todo el ancho */
    }
  
    .col-left {
      margin-bottom: 16px;     /* Agrega espacio entre las columnas cuando están apiladas */
    }
  }